/* Template */
@import url(https://fonts.googleapis.com/css?family=Lato:300|Roboto:300);

/* Color Scheme
 * Navbar
 * * Border: #fb0000
 * * Background-Color: #ee1e1e
 * * * Hover: #b20d0d
 * * Text: #f5f5f5
 * * * Hover: #ccc7c7
*/

.navbar-default {
    background-color: #ee1e1e;
    border-color: #f5f5f5;
}

.navbar-default * {
    transition: color 0.2s ease 0s;
}

/* Navbar Brand - Unused */
.navbar-default .navbar-brand {
    color: #f5f5f5;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ccc7c7;
}

/* Navbar Text - Unused */
.navbar-default .navbar-text {
    color: #f5f5f5;
}

/* Navbar Links */
.navbar-default .navbar-nav > li > a {
    color: #f5f5f5;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ccc7c7;
}

/* Dropdown */
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #ee1e1e; /* Override default style */
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #f5f5f5;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    background-color: #ee1e1e; /* Override default style */
    color: #ccc7c7;
}

/* Dropdown Divider - Unused */
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #ccc7c7;
}

/* Active Dropdown Items */
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ccc7c7;
    background-color: #b20d0d;
}

/* Active Navbar Item  */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ccc7c7;
    background-color: #b20d0d;
}

/* Currently Open Dropdown's Navbar Item */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ccc7c7;
    background-color: #b20d0d;
}

/* Navbar Toggle */
.navbar-default .navbar-toggle {
    border-color: #f5f5f5;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #f5f5f5;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #b20d0d;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form { /* Unused */
    border-color: #f5f5f5;
}

/* Unused */
.navbar-default .navbar-link {
    color: #f5f5f5;
}
.navbar-default .navbar-link:hover {
    color: #ccc7c7;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #f5f5f5;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ccc7c7;
    }
    /* Unused */
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ccc7c7;
        background-color: #b20d0d;
    }
}

html {
    position: relative;
    min-height: 100%;
}

blockquote {
    margin-bottom: 0;
}

body {
    margin-bottom: 166.5px; /* Footer */
    margin-top: 50px; /* Navbar */
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

/* h2 = Large header */
/* h3 = Small header */
/* h4 = body text */
h4, dd, dt, th, td,
.section ul, .section ol,
.shortcuts {
    font-size: 16px;
    line-height: 1.5;
}

img {
    image-orientation: from-image;
}

p, div {
    font-family: "Lato", sans-serif;
}

#homepageCarousel .homepageBanner {
    max-height: 75vh;
    width: 100%;
    filter: grayscale(0.1);
}

#homepageCarousel .homepageLogo {
    height: 114px;
    width: 100px;
}

#homepageCarousel .bannerText {
    text-shadow: 2px 2px 0px rgba(5, 5, 5, 1);
}

#homepageCarousel .slogan {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

#contactBanner {
    background-image: url("../img/Originals/ContactUs.jpg");
}

#joinBanner {
    background-image: url("../img/Cropped/JoinUs.jpg");
}
/* Activities */
    #ActivitiesAdventureBanner {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/Activities/Adventure.jpg");
        background-position: 0 75%;
    }

    #ActivitiesServiceBanner {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/Activities/Service.jpg");
        background-position: 0 25%;
    }

    #ActivitiesFellowshipBanner {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/Activities/Fellowship.jpg");
        background-position: 0 25%;
    }

    #ActivitiesCoursesBanner {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/Activities/Courses.jpg");
    }

/* Rover Journey */
#RJBanner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/Cropped/RJBanner.jpg");
}

    #RJFellowshipBanner {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/RoverJourney/Fellowship.jpg");
        background-position: 0 25%;
    }

    #RJOpenAirBanner {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/RoverJourney/OpenAir.jpg");
        background-position: center;
    }

    #RJServiceCitizenshipBanner {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/RoverJourney/ServiceCitizenship.jpg");
    }

    #RJRoveringSuccessBanner {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/RoverJourney/RoveringToSuccess.jpg");
        background-position: 0 25%;
    }

    #RJBackScoutingBanner {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/RoverJourney/BackToScouting.jpeg");
        background-position: center;
    }

.banner-container {
    align-items: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 75vh;
    width: 100%;
}

    .banner-container h2 {
        margin-bottom: 20px;
    }

.banner-text {
    width: 66.67vw;
    color: white;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        background: white;
        cursor: inherit;
        display: block;
        font-size: 100px;
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        outline: none;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
    }

.card {
    display: inline-block;
    width: 250px;
}

    .card > .panel-heading {
        height: 55px;
    }

    .card > .thumbnail {
        margin: 0;
        height: 200px;
    }

    .card > .thumbnail > img {
        max-height: 100%;
    }

    .card > .panel-body {
        height: 150px;
    }

.card.candid-card > .panel-body {
    height: 75px;
}

.dropdown-menu form {
    padding: 15px;
}

.ace_editor {
    height: 350px;
}

    .ace_editor div {
        font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    }

.event-description {
    text-align: left;
    white-space: pre-line;
}

.fc-day-grid-event .fc-content {
    white-space: normal;
}

.footer {
    background-color: #fb0000;
    bottom: 0;
    padding-bottom: 14px;
    padding-top: 14px;
    position: absolute;
    text-align: center;
    width: 100%;
}

    .footer__title,
    .footer__image,
    .footer__copyright {
        margin: 2px 0;
    }

    .footer__title {
        font-size: 1.5em;
    }

    .footer__image img {
        height: 50px;
    }

    .footer,
    .footer a {
        color: #f7f7f7;
        transition: color 0.2s ease 0s;
    }

    .footer a {
        border-bottom: 1px solid #ccc7c7;
    }

    .footer a:hover {
        color: #ccc7c7;
        text-decoration: none;
    }

iframe.embed {
    display: block;
    border: none;
    height: 100vh;
    width: 90vw;
    margin: auto;
    border: 1px solid black;
}

iframe.constrain {
    max-width: 90vw;
}

.panel-primary .panel-title .field-edit,
.panel-primary .panel-title .field-edit:hover {
    color: #f5f5f5;
}

.section {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 75px;
}

.section__borderless {
    padding-bottom: 75px;
}

.slick img {
    height: 200px;
}

textarea {
    resize: vertical;
}

textarea[readonly] {
    resize: none;
}

/* Custom Classes */
.anchor {
    display: block;
    position: relative;
    visibility: hidden;
    top: -50px;
}

.btn-contrast {
    color: black;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-outline {
    background: none;
    border-color: #ccc7c7;
    color: white;
}

    .btn-outline:hover {
        background: white;
        color: black;
    }

.link {
    cursor: pointer !important;
}

.overflow {
    overflow-x: scroll;
    width: auto;
    white-space: nowrap;
}

.shortcuts {
    position: fixed;
    top: 143px;
    z-index: 1;
}

.wrap {
    white-space: pre-wrap;
}
