/* Template */
@import url(https://fonts.googleapis.com/css?family=Lato:300|Roboto:300);

.navbar-default {
  background-color: #f7f7f7;
  border-color: #fb0000;
}
.navbar-default .navbar-brand {
  color: #ee1e1e;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #b20d0d;
}
.navbar-default .navbar-text {
  color: #ee1e1e;
}
.navbar-default .navbar-nav > li > a {
  color: #ee1e1e;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #b20d0d;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #f7f7f7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ee1e1e;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  /*color: #b20d0d;*/
  color: #f7f7f7;
  background-color: #fb0000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #fb0000;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  /*color: #b20d0d;*/
  color: #f7f7f7;
  background-color: #fb0000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  /*color: #b20d0d;*/
  color: #f7f7f7;
  background-color: #fb0000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  /*color: #b20d0d;*/
  color: #f7f7f7;
  background-color: #fb0000;
}
.navbar-default .navbar-toggle {
  border-color: #fb0000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  /*background-color: #fb0000;*/
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ee1e1e;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ee1e1e;
}
.navbar-default .navbar-link {
  color: #ee1e1e;
}
.navbar-default .navbar-link:hover {
  color: #b20d0d;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ee1e1e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #b20d0d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #b20d0d;
    background-color: #fb0000;
  }
}

html {
    position: relative;
    min-height: 100%;
}

blockquote {
    margin-bottom: 0;
}

body {
    margin-bottom: 114.5px; /* Footer */
    margin-top: 50px; /* Navbar */
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

/* h2 = Large header */
/* h3 = Small header */
/* h4 = body text */
h4, dd, dt, th, td,
.section ul, .section ol,
.shortcuts {
    font-size: 16px;
    line-height: 1.5;
}

p, div {
    font-family: "Lato", sans-serif;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    background: white;
    cursor: inherit;
    display: block;
    font-size: 100px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    outline: none;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.card {
    display: inline-block;
    width: 250px;
}

.card > .panel-heading {
    height: 55px;
}

.card > .thumbnail {
    margin: 0;
    height: 200px;
}

.card > .thumbnail > img {
    max-height: 100%;
}

.card > .panel-body {
    height: 125px;
}

.dropdown-menu form {
    padding: 15px;
}

.fc-day-grid-event .fc-content {
    white-space: normal;
}

.footer {
    background-color: #fb0000;
    bottom: 0;
    padding-bottom: 14px;
    padding-top: 14px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.footer__title,
.footer__links,
.footer__copyright {
    margin: 2px 0;
}

.footer__title {
    font-size: 1.5em;
}

.footer,
.footer a {
    color: #f7f7f7;
    transition: color 0.2s ease 0s;
}

.footer a {
    border-bottom: 1px solid #ccc7c7;
}

.footer a:hover {
    color: #ccc7c7;
    text-decoration: none;
}

.section {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 75px;
}

.section__borderless {
    padding-bottom: 75px;
}

.slick img {
    height: 200px;
}

textarea {
    resize: vertical;
}

textarea[readonly] {
    resize: none;
}

/* Custom Classes */
#homepageBanner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../img/cropped/HomeBanner.jpg");
}

#homepageBannerText {
    margin-bottom: 30px;
}

#roverjourneyBanner {
    background-image: url("../img/cropped/RJBanner.jpg");
}

.anchor,
.anchor--header {
    display: block;
    position: relative;
    visibility: hidden;
}

.anchor {
    top: -50px;
}

.banner-container {
    align-items: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 75vh;
    width: 100%;
}

.banner-text {
    width: 75vw;
    color: white;
}

.btn-outline {
    background: none;
    color: white;
}

.link {
    cursor: pointer !important;
}

.overflow {
    overflow-x: scroll;
    width: auto;
    white-space: nowrap;
}

.shortcuts {
    position: fixed;
    top: 143px;
    width: 20%;
    z-index: 1;
}

.wrap {
    white-space: pre-wrap;
}
