/* Color Scheme
 * #ee1e1e - Light Red (Primary)
 * #fb0000 - Darker Red (Secondary)
 * #b20d0d - Darkest Red (Active)
 */

/* Navbar */
.navbar-default, /* Navbar */
.navbar-default .navbar-nav > .active > a, /* Active Link */
.navbar-default .navbar-nav > .open > a { /* Dropdown */
    background-image: none; /* Remove gradient */
}

.navbar-default { /* Main theme */
    background-color: #f7f7f7;
    border-color: #fb0000;
}

.navbar-default .navbar-brand, /* Title */
/*.navbar-default .navbar-text,*/ /* Text */
.navbar-default .navbar-nav > li > a, /* Links */
.navbar-default .navbar-nav > li > .dropdown-menu > li > a, /* Dropdown links */
.navbar-default .navbar-link { /* Non-nav link */
    color: #ee1e1e; /* Default colour of links */
}

.navbar-default .navbar-brand:hover, /* Title */
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover, /* Links */
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-link:hover { /* Non-nav link */
    color: #b20d0d; /* Hover colour of links */
}

.navbar-default .navbar-nav > li > .dropdown-menu, /* Dropdown menu */
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider { /* Divider */
    background-color: #f7f7f7;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover, /* Dropdown menu links */
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav > .active > a, /* Active link */
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a, /* Dropdown Open */
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #fb0000;
    color: #f7f7f7;
}

.navbar-default .navbar-toggle { /* Toggle button */
    border-color: #fb0000;
}

.navbar-default .navbar-toggle:hover, /* Toggle button */
.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar { /* Hamburger lines */
    background-color: #ee1e1e;
}

.navbar-default .navbar-collapse, /* Collapsed Navbar */
.navbar-default .navbar-form { /* Form */
    border-color: #ee1e1e;
}

@media (max-width: 767px) { /* Dropdown Open */
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ee1e1e;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #b20d0d;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        background-color: #fb0000;
        color: #fff;
    }
}

/* Template */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
         local("Roboto-Regular"),
         url("/css/roboto/Roboto-Regular.woff2") format("woff2"),
         url("/css/roboto/Roboto-Regular.woff") format("woff"),
         url("/css/roboto/Roboto-Regular.ttf") format("truetype");
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-bottom: 120px;
    margin-top: 70px;
}

.footer {
    background-color: #fb0000;
    bottom: 0;
    padding-bottom: 14px;
    padding-top: 14px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.footer__title,
.footer__credits,
.footer__links {
    margin: 2px 0;
}

.footer__title {
    font-size: 1.5em;
}

.footer,
.footer a {
    color: #f7f7f7;
    -webkit-transition: color 0.2s ease 0s;
            transition: color 0.2s ease 0s;
}

.footer a:hover {
    color: #ccc7c7;
    text-decoration: none;
}

/* Resources */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    background: white;
    cursor: inherit;
    display: block;
    font-size: 100px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    outline: none;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* Misc */
.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.image {
    width: 100%;
}

.dropdown-menu form {
    padding: 15px;
}

.fa-chain {
    color: gray;
    margin-left: -13px;
    -webkit-transition: color 0.2s ease 0s;
            transition: color 0.2s ease 0s;
}

.fa-chain:hover {
    color: black;
}

textarea.noresize {
    resize: vertical;
}