@font-face {
	font-family: Roboto;
	src: url("/dep/Roboto-Regular.ttf");
}

/* Custom Navbar */

.navbar-default,
.navbar-default .navbar-nav > .active > a {
	background-image: none;
}

.navbar-default {
	background-color: #f7f7f7;
	border-color: #fb0000;
}

.navbar-default .navbar-brand {
	color: #ee1e1e;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #ccc7c7;
}

.navbar-default .navbar-text {
	color: #ee1e1e;
}

.navbar-default .navbar-nav > li > a {
	color: #ee1e1e;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #ccc7c7;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
	background-color: #f7f7f7;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
	color: #ee1e1e;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
	background-color: #fb0000;
	color: #ccc7c7;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
	background-color: #f7f7f7;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: #fb0000;
	color: #ccc7c7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: #fb0000;
	color: #ccc7c7;
}

.navbar-default .navbar-toggle {
	border-color: #fb0000;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #fb0000;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ee1e1e;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ee1e1e;
}

.navbar-default .navbar-link {
	color: #ee1e1e;
}

.navbar-default .navbar-link:hover {
	color: #ccc7c7;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ee1e1e;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ccc7c7;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		background-color: #fb0000;
		color: #ccc7c7;
	}
}

/* Template */

body {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	margin-top: 50px;
}

.banner {
	height: 128px;
	margin-top: 20px;
	width: 100%;
}

footer {
	margin-top: 70px;
}

footer a:hover {
	color: #ccc7c7;
	text-decoration: none;
}

#copyright {
	background-color: #fb0000;
	border-top: 5px solid #ee1e1e;
	padding-bottom: 8px;
	padding-top: 8px;
	text-align: center;
}

.signature {
	margin-bottom: 2px;
	margin-top: 8px;
}

.signature a {
	font-size: 1.5em;
}

.signature-links {
	margin-bottom: 2px;
	margin-top: 2px;
}

.signature a,
.signature-links,
.signature-links a,
.footer-links,
.footer-links a {
	color: #f7f7f7;
	-webkit-transition: color 0.2s ease 0s;
	        transition: color 0.2s ease 0s;
}

.footer-links {
	margin-bottom: 8px;
	margin-top: 2px;
}

/* Others */

.shortcuts {
	font-size: 22px;
	list-style-type: none;
}

.shortcuts li {
	border-top: 1px dashed black;
	padding-bottom: 5px;
	padding-top: 5px;
}

.shortcuts li a:not(.highlight) {
	color: #000;
	-webkit-transition: color 0.2s ease 0s;
	        transition: color 0.2s ease 0s;
}

.shortcuts li a.highlight,
.shortcuts li a:hover {
	color: #FB0000;
	text-decoration: none;
}

.shortcuts li:last-child {
	border-bottom: 1px dashed black;
}

.anchor {
	display: block;
	position: relative;
	top: -60px;
	visibility: hidden;
}

.thumbnail {
	width: 100%;
}

th {
	font-weight: bold;
}

figcaption {
	background-color: gray;
	color: #FFF;
	padding: 5px;
	text-align: center;
	border-radius: 50px 50px;
}

#map-canvas {
	height: 400px;
	width: 400px;
}